form a {
  margin-left: 10px;
}
.posts-header {
  margin-bottom: 80px;
}
li:hover {
  background-color: #696969;
}
input {
  width: 137px !important;
  display: inline-block !important;
  margin-top: 30px !important;
}
form button {
  background-color: greenyellow !important;
  margin-top: 30px !important;
}

.container .footer-low {
  margin-top: 100px;
}
